{
  "presets": [
    "env"
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}
